
header
    nav
        .container
            .nav-wrapper
                div
                    a.nav-brand(href='/')
                        img(src='/public/img/raisely.brand.white.png')
                ul.nav-menu.menu-primary
                    li
                        a.button.button-primary(href='/new') Create a Campaign
                    li
                        a(href='/')
                            | My Campaigns