doctype html
html
    head
        include includes/head.jade

    body
        include includes/header.jade

        main
            .container
                aside.col-8.offset-2
                    .content.content-wide.campaign
                        h1 Error 404
                        h3 We couldn't find the campaign you were looking for